@import url("https://fonts.googleapis.com/css?family=Glegoo");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

h1{
    color: black;
    text-align: left;
    font-family: Glegoo;
    font-size: 72px;
    font-weight: 100px;
}

p{
    color: #889093;
    text-align: left;
    font-family: Ubuntu;
    font-size: 21px;

}

a{
    text-align: left;
    font-family: Ubuntu;
    font-size: 21px;
    color: black;
    text-decoration: none;
    margin-top: 5px;
}
a:hover{
    color: #2393bc;
}

.weight1{
    font-weight: 750;
}


.highlight1{
    color: #2393bc;
}

.highlight2{
    color: black;
}

.ptext{

}
.whitespace{
    margin-bottom:20px;
}
.btn{
    display: block
}
.btn-outline-dark{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    border-width:2px;
    border-radius: 3px;
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .open>.dropdown-toggle.btn-outline-dark {
    color: black;
    background-color: white;
    border-color: #2393bc;
}
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    color: #2393bc;
    background-color: white;
    border-color: #2393bc;
}
.btn:focus {
  outline: none;
}
